@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.input {
  height: 50px;
  width: 100%;
  padding: 17px;
  border: 1px solid $color-grey-200;
  border-radius: 25px;
  outline: none;

  background-color: inherit;
  color: $color-txt;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &__checkbox {
    width: auto;
    height: auto;
    align-items: center;
    margin-right: 10px;
  }

  &_error {
    border: 2px solid $color-error;
    &:hover {
      border: 2px solid $color-error;
    }

    &:focus {
      border: 2px solid $color-error;
    }
  }

  &::placeholder {
    color: $color-bg;
  }

  &::-webkit-search-cancel-button {
    opacity: 0;
    pointer-events: none;
  }
}

@media only screen and (max-width: 512px) {
  .input {
    width: 100%;
  }
}
