@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.city {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;
  margin-top: 54px;
  // flex-wrap: wrap;

  &__section,
  &__sidebar {
    background-color: $color-light;
    box-shadow: 0 3px 10px $color-grey-200;
    border-radius: 15px;
    width: 100%;
    padding: 24px 34px;
    max-width: 561px;
    width: 100%;
  }

  &__section {
    &_primary {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &_secondary {
      grid-row: 2;
      grid-column: 1;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__group-down {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
  }

  &__caption {
    @include font_config(normal, 500, 2.1rem, 2.3rem);

    margin-bottom: 5px;
  }

  &__link {
    @include font_config(normal, 400, 1.6rem, 1.6rem);

    color: $color-grey-300;
    text-decoration: none;
  }

  &__back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-grey-300;

    &_caption {
      @include font_config(normal, 400, 1.8rem, 1.8rem);
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__favorite {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    color: $color-grey-300;

    &:hover,
    &:focus {
      background-color: $color-grey-100;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  &__title {
    @include font_config(normal, 500, 5.6rem, 6.2rem);

    color: $color-txt;
  }

  &_day {
    &-icon {
      width: 12rem;
      height: 12rem;
    }
  }

  &__degree {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &-text {
      @include font_config(normal, 400, 8rem, 4.2rem);

      color: $color-grey-300;
    }
  }

  &__date {
    text-align: center;
  }

  &__date,
  &__desc,
  &__annotation {
    @include font_config(normal, 500, 1.6rem, 2.5rem);

    color: $color-grey-300;
  }

  &__annotation {
    display: flex;
    text-align: center;
    // box-shadow: 0 3px 15px $color-grey-200;
    background-color: $color-grey-100;
    border-radius: 15px;
    justify-content: space-between;
    width: 100%;

    &-item {
      padding: 12px;
    }
  }

  &__sidebar {
    max-width: 561px;
    width: 100%;
    max-height: 767px;
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    &_caption {
      @include font_config(normal, 500, 1.8rem, 2.1rem);

      color: $color-grey-300;
      margin-bottom: 10px;
    }

    &_wrapper {
      height: 92%;
      overflow-y: auto;
    }

    &_list {
      width: 100%;
      flex-direction: column;
      display: flex;
      overflow: hidden;
    }

    &_item {
      background-color: $color-light;
      border-radius: 15px;
      padding: 5px 19px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin: 8px;

      &_active {
        box-shadow: 0 3px 10px $color-grey-200;
        transform: scale(1.02);
        color: $color-primary;
      }

      &_today {
        background-color: $color-light;
        border-radius: 15px;
        padding: 10px 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &_meta {
      display: block;

      &_flex {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    &_day {
      &-icon {
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &_weekday,
    &_time {
      @include font_config(normal, 500, 2.4rem, 2.8rem);

      color: inherit;
    }

    &_date {
      @include font_config(normal, 400, 1.8rem, 2.1rem);

      color: $color-grey-300;
    }

    &_temp {
      display: flex;
      align-items: center;
      gap: 5px;

      &_max {
        @include font_config(normal, 500, 2.4rem, 2.4rem);
        color: $color-txt;
      }

      &_current {
        @include font_config(normal, 500, 2.4rem, 2.4rem);
        color: $color-grey-300;
      }

      &_min {
        @include font_config(normal, 400, 2.4rem, 2.4rem);

        color: $color-grey-300;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .city {
    &__group-down {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  .city {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

    &__section {
      max-width: 100%;

      &_primary {
        grid-row: 1;
        grid-column: 1;
      }

      &_secondary {
        grid-row: 3;
        margin-bottom: 24px;
      }
    }

    &__sidebar {
      max-width: 100%;
      max-height: 580px;
      grid-row: 2;
      grid-column: 1;
    }

    &__group-down {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (max-width: 512px) {
  .city {
    &__group-down {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
