@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.city {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin-top: 54px;

  &__section,
  &__sidebar {
    background-color: $color-light;
    box-shadow: 0 3px 10px $color-grey-200;
    border-radius: 15px;
    width: 100%;
    padding: 24px 34px;
  }

  &__section {
    width: 561px;
  }

  &__container {
    display: grid;
    gap: 54px;
  }

  &__wrapper {
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__group-down {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
  }

  &__caption {
    @include font_config(normal, 500, 2.1rem, 2.3rem);

    margin-bottom: 5px;
  }

  &__link {
    @include font_config(normal, 400, 1.6rem, 1.6rem);

    color: $color-grey-300;
    text-decoration: none;
  }

  &__back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-grey-300;

    &_caption {
      @include font_config(normal, 400, 1.8rem, 1.8rem);
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__favorite {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    color: $color-grey-300;

    &:hover,
    &:focus {
      background-color: $color-grey-100;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  &__title {
    @include font_config(normal, 500, 5.6rem, 6.2rem);

    color: $color-txt;
  }

  &_day {
    &-icon {
      width: 120px;
      height: 120px;
    }
  }

  &__degree {
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      @include font_config(normal, 400, 8rem, 4.2rem);

      color: $color-grey-300;
    }
  }

  &__date {
    text-align: center;
  }

  &__date,
  &__desc,
  &__annotation {
    @include font_config(normal, 500, 1.6rem, 2.5rem);

    color: $color-grey-300;
  }

  &__annotation {
    display: flex;
    gap: 20px;
    text-align: center;
    box-shadow: 0 3px 10px $color-grey-200;
    border-radius: 15px;

    &-item {
      padding: 12px;
    }
  }

  &__sidebar {
    height: 720px;
    max-width: 561px;
    width: 100%;
    overflow: hidden;

    &_caption {
      @include font_config(normal, 500, 1.8rem, 2.1rem);

      color: $color-grey-300;
      margin-bottom: 10px;
    }

    &_wrapper {
      height: 90%;
      overflow-y: auto;
    }

    &_list {
      width: 100%;
      gap: 6px;
      flex-direction: column;
      display: flex;
      overflow: hidden;
    }

    &_item {
      background-color: $color-light;
      border-radius: 15px;
      padding: 10px 19px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &_active {
        box-shadow: 0 3px 10px $color-grey-200;
        transform: scale(1.02);
        color: $color-primary;
      }

      &_today {
        background-color: $color-light;
        border-radius: 15px;
        padding: 10px 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &_meta {
      display: block;

      &_flex {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    &_day {
      &-icon {
        width: 32px;
        height: 32px;
      }
    }

    &_weekday,
    &_time {
      @include font_config(normal, 500, 2.4rem, 2.8rem);

      color: inherit;
    }

    &_date {
      @include font_config(normal, 400, 1.8rem, 2.1rem);

      color: $color-grey-300;
    }

    &_temp {
      display: flex;
      align-items: center;
      gap: 5px;

      &_max {
        @include font_config(normal, 500, 2.4rem, 2.4rem);
        color: $color-txt;
      }

      &_current {
        @include font_config(normal, 500, 2.4rem, 2.4rem);
        color: $color-grey-300;
      }

      &_min {
        @include font_config(normal, 400, 2.4rem, 2.4rem);

        color: $color-grey-300;
      }
    }
  }
}
