@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.btn {
  @include font_config(normal, 500, 1.6rem, 2.2rem);

  border: 0;
  background: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;

  &__primary {
    border-radius: 8px;
    padding: 12px 15px;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-light;

    &:hover {
      background-color: lighten($color-primary, 10);
      border-color: lighten($color-primary-fade-50, 10);
      color: $color-light;
    }

    &:active {
      background-color: darken($color-primary, 10);
      border-color: darken($color-primary, 10);
      color: $color-light;
    }
  }

  &:disabled {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
  }
}
