@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.auth {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin-top: 94px;

  &__section {
    background-color: $color-light;
    box-shadow: 0 3px 10px $color-grey-200;
    border-radius: 15px;

    margin: 0 auto;
    height: max-content;
    padding: 30px;
    width: 412px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 10px;
  }

  &__title {
    @include font_config(normal, 500, 2.4rem, 2.8rem);

    color: $color-txt;
  }

  &__form {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;

    grid-row-gap: 20px;

    & input {
      &::placeholder {
        color: $color-grey-300;
      }
    }
  }

  &__caption {
    @include font_config(normal, 500, 1.6rem, 2.8rem);
    color: $color-grey-300;

    &_error {
      color: $color-error;
    }
  }

  &__label {
    position: relative;

    &_password-mode {
      position: absolute;
      top: 13px;
      right: 13px;
      color: $color-grey-300;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
