@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.card-item {
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: $color-light;
  box-shadow: 0 3px 10px $color-grey-200;
  border-radius: 15px;

  width: 100%;
  min-height: 316px;
  height: 100%;
  padding: 28px;
  text-decoration: none;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 6px 17px darken($color-grey-200, 8);
    transform: scale(0.98);

    & .card-item__btn_more {
      opacity: 1;
      visibility: inherit;
    }
  }

  &__title {
    @include font_config(normal, 500, 4.8rem, 7rem);

    text-align: center;
    margin-bottom: 20px;

    & span {
      color: $color-primary;
    }
  }

  &__favorite {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    color: $color-grey-300;

    &:hover,
    &:focus {
      background-color: $color-grey-100;
    }
  }

  &__pic {
    position: absolute;
    top: 12px;
    right: 15px;

    &_icon {
      width: 7.8rem;
      height: 7.8rem;
    }
  }

  &__desc {
    @include font_config(normal, 400, 1.4rem, 2.2rem);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;

    color: $color-grey-300;
    text-align: start;
  }

  &__temp {
    @include font_config(normal, 400, 8rem, 9.4rem);
  }

  &__city {
    @include font_config(normal, 500, 2.4rem, 3rem);

    color: $color-txt;
  }

  &__meta {
    margin-top: 15px;
    display: block;

    & .card-item__date,
    & .card-item__time {
      margin: 0;
    }
  }

  &__btn_more {
    @include font_config(normal, 500, 1.8rem, 3rem);

    border-radius: 15px;

    position: absolute;
    bottom: 5px;
    right: 8px;
    opacity: 0;
    visibility: hidden;

    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-primary;

      & * {
        transition: all 0.2s ease;
        transform: translateX(2px);
      }
    }
  }
}

@media only screen and (max-width: $media-lg) {
  .card-item {
    &__pic {
      position: absolute;
      top: 12px;
      right: 15px;

      &_icon {
        width: 12rem;
        height: 12rem;
      }
    }
  }
}

@media only screen and (max-width: $media-md) {
  .card-item {
    &__pic {
      position: absolute;
      top: 12px;
      right: 15px;

      &_icon {
        width: 12rem;
        height: 12rem;
      }
    }
  }
}
