@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.home {
  margin-top: 54px;
  display: grid;

  &__wrapper {
    position: relative;
    width: 562px;
    margin: 0 auto;
  }

  &__search {
    background: $color-light;
    box-shadow: 0 3px 10px $color-grey-100;
    color: $color-txt;

    &::placeholder {
      color: $color-grey-300;
    }
  }

  &__info {
    position: relative;
    width: 562px;
    margin: 68px auto 0;

    &-arrow {
      position: absolute;
      left: 36px;
      top: -12px;

      width: 38px;
      height: 32px;
    }

    &-text {
      @include font_config(normal, 500, 2.4rem, 2.8rem);

      text-align: center;
    }
  }

  &__suggestions {
    &_list {
      width: inherit;
      max-height: 180px;
      position: absolute;
      overflow: auto;
      z-index: 1;
      border-radius: 25px;
      box-shadow: 0 3px 10px $color-grey-200;
    }

    &_item {
      color: $color-light;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      background: $color-light;

      &:hover {
        background: $color-grey-100;
      }

      &:active {
        background: $color-grey-200;
      }
    }

    &_link {
      text-decoration: none;
      padding: 10px 12px;
      display: inline-block;
      width: 100%;
    }

    &_notice {
      padding: 10px 12px;
      display: inline-block;
      color: $color-grey-300;
    }

    &_current {
      color: $color-primary;
    }

    &_remainder {
      color: $color-grey-300;
    }
  }
}
