@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.home {
  margin-top: 94px;
  display: grid;

  &__form {
    position: relative;
    width: 562px;
    margin: 0 auto;
  }

  &__search {
    background: $color-grey-100;
    border: 2px solid $color-grey-200;
    color: $color-txt;

    &::placeholder {
      color: $color-grey-300;
    }
  }

  &__info {
    position: relative;
    width: 562px;
    margin: 43px auto 0;

    &-arrow {
      position: absolute;
      left: 36px;
      top: -12px;

      width: 38px;
      height: 32px;
    }

    &-text {
      @include font_config(normal, 500, 2.4rem, 2.8rem);

      text-align: center;
    }
  }

  &__suggestions {
    &_list {
      width: inherit;
      max-height: 180px;
      position: absolute;
      overflow: auto;
      z-index: 1;
    }

    &_item {
      color: $color-light;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      background: $color-light;

      border: 2px solid $color-grey-200;
      border-top: none;

      &:hover {
        background: $color-grey-100;
      }

      &:active {
        background: $color-grey-200;
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }

    &_link {
      text-decoration: none;
      width: 100%;
      color: inherit;
      display: block;
      padding: 10px 12px;

      &_current {
        color: $color-primary;
      }

      &_remainder {
        color: $color-grey-300;
      }
    }
  }
}



